extends layout

block content
  h1= title
  p Welcome to #{title}
  p This templating is being done by jade in the default generated app
  p What is Jade? I have no idea? It's green I think?
  p We should be writing this in some kind of moustache language
